@import '../../../App';

.card {
  display: flex;
  align-items: center;
  transition: .2s;
  padding: 10px;
  border-radius: 0 25px;
  &:not(:first-child) {
    margin-top: 15px;
  }
  &:hover {
    transition: .2s;
    background: rgba(94, 97, 132, 0.4);
    & .cardWrapOpen {
      transition: .2s;
      color: #fff;
    }
    & .miniImageProfile {
      transition: .2s;
      opacity: 0.5;
    }
  }
  &Wrap {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    &User {
      color: #5E6184;
      font-size: 20px;
      font-weight: bold;
    }
    &Open {
      color: #AAAAAD;
      font-size: 18px;
    }
  }
}
