.post {
  max-width: 600px;
  width: 100%;
  padding-top: 100px;
  &Title {
    text-transform: uppercase;
  }
  &Add {
    padding-top: 30px;
    &Text {
      width: 100%;
      border: 1px solid #BFBFC2;
      background: #E6E8ED;
    }
    &Submit {
      margin-top: 20px;
      float: right;
    }
  }
}
