@import '../../../App';

.card {
  display: flex;
  height: fit-content;
  align-items: center;
  &Info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    &Name {
      font-weight: bold;
      font-size: 20px;
      color: #5E6184;
    }
    &About {
      font-size: 16px;
      color: #5E6184;
    }
    &Wrap {
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      &Contacts {
        font-size: 16px;
        color: #5E6184;
        font-weight: bold;
      }
    }
    & > span {
      &:not(:first-child) {
        padding-top: 5px;
        display: block;
      }
    }
  }
}
