.sidebar {
  height: calc(100vh - 100px);
  max-width: 300px;
  width: 100%;
  background: #F2F2F5;
  box-shadow: inset -44px 0px 41px -48px rgba(191,191,194,1);
  & nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & li span {
      text-transform: uppercase;
      transition: .2s;
      padding: 20px 30px;
      display: block;
      cursor: pointer;
      &:hover {
        background: #F7F8F9;
        color: #5E6184;
        border-left: 4px solid #5E6184;
        transition: .2s;
      }
    }
  }
}
