.post {
  max-width: 650px;
  padding-top: 50px;
  &Title {
    text-transform: uppercase;
    font-weight: bold;
  }
  &Add {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    align-items: flex-end;
    &Text {
      border: 1px solid #BFBFC2;
      border-radius: 4px;
      background: #fff;
      resize: none;
      padding: 25px;
      font-size: 20px;
      color: #5E6184;
      &::placeholder {
        color: #5E6184;
        text-transform: uppercase;
        font-size: 16px;
      }
      &:focus {
        outline: none;
        outline-offset: 0;
      }
    }
  }
}
