@import '../../../App';

.ticket {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  transition: .2s;
  &:hover {
    opacity: 0.6;
    transition: .2s;
  }
  &:not(:last-child) {
    padding-right: 15px;
  }
  &Title {
    color: #5E6184;
    font-weight: 500;
    padding-top: 7px;
    display: block;
    text-align: center;
  }
}
